/* Header styles */
header {
    background-color: #4a4a4a;
    color: #f9f9f9;
    padding: 5px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* Navbar styles */
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
    position: relative;
}

.nav-links li a.hover,
.nav-links li a:hover {
    text-decoration: underline;
    transform: translateY(-6px);
    color: #fce38a;
}

.nav-links li a.active,
.nav-links li a:active {
    text-decoration: underline;
    transform: translateY(0px);
    color: #fce38a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #4a4a4a;
    color: white;
}

/* Responsive Navbar */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 109px;
        right: 0;
        background-color: #4a4a4ace;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}
