/* Section styles */
section {
    margin: 20px auto;
    max-width: 3000px;
    text-align: center;
    padding: 20px;
    border: 3px dashed #4a4a4a;
}

h2 {
    color: #7c4d99;
    text-shadow: 
        0 0 5px rgba(124, 77, 153, 0.5),
        0 0 10px rgba(124, 77, 153, 0.7),
        0 0 15px rgba(124, 77, 153, 1);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

/* Flex container */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8b400;
    padding: 10px;
}

.flex-item {
    background-color: #ff5722;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 18px;
    flex: 1;
    margin: 5px;
}
